@font-face {
  font-family: "SuisseIntl";
  src: url("/fonts/SuisseIntl-Light.ttf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/fonts/SuisseIntl-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/fonts/SuisseIntl-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "SuisseIntl";
  src: url("/fonts/SuisseIntl-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
